   
    <!--Inicio Sidebar-->
    <section class="sidebar close">
      
      <section class="logo-details"> 
        <i class="bx bx-menu"></i>
        <span class="logo_name">Menu</span>
      </section>
            
        <ul class="nav-links">
          <li>  
            <a href="#">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Dashboard</span>
            </a>
              
            <ul class="sub-menu blank">
              <li><a class="link_name" href="/adm/adm-home">Home</a></li>
            </ul>
                
          </li>
              
              <li>
                
                <section class="iocn-link">
                  
                  <a href="/adm/adm-lista-usuarios">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Usuários</span>
                  </a>
                  
                  <i class='bx bxs-chevron-down arrow' ></i>
                
                </section>
                
                <ul class="sub-menu">
                  
                  <li><a href="/adm/adm-lista-usuarios">Usuários</a></li>
                  <li><a href="/adm/adm-listagem-comum">Comum</a></li>
                  <li><a href="/adm/adm-listagem-profissional">Profissional</a></li>
                  <li><a href="/adm/adm-listagem-administradores">Administradores</a></li>                  
                </ul>
                
              </li>
              
              <li>
                
                <section class="iocn-link">
                  
                  <a href="#">
                    <i class='bx bx-book-alt' ></i>
                    <span class="link_name">Posts</span>
                  </a>
                  
                  <i class='bx bxs-chevron-down arrow' ></i>
                
                </section>
                
                <ul class="sub-menu">
                
                  <li><a class="link_name" href="#">Posts</a></li>
                  <li><a href="#">Proposta de Projetos</a></li>
                  <li><a href="#">Publicações</a></li>
                
                </ul>
      
              </li>
      
              <li>
                

                <section class="iocn-link">

                <a href="#">
                  <i class='bx bx-pie-chart-alt-2' ></i>
                  <span class="link_name">Denúncias</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>

                </section>

                <ul class="sub-menu">
                  
                    <li><a class="link_name" href="#">Denúncias</a></li>
                    <li><a href="#">Usuário</a></li>
                    <li><a href="#">Comentário</a></li>
                    <li><a href="#">Publicação</a></li>                  
                  </ul>
      
              </li>
                    
              <li>
                
                <section class="iocn-link">
                
                  <a href="#">
                    <i class='bx bx-plug' ></i>
                    <span class="link_name">Plugins</span>
                  </a>
                  
                  <i class='bx bxs-chevron-down arrow' ></i>
                  
                </section>
                
                <ul class="sub-menu">
                  <li><a class="link_name" href="#">Ajustes</a></li>
                  <li><a href="#">SEO</a></li>
                  <li><a href="#">Domínio</a></li>
                  <li><a href="#">Permissão de Dados</a></li>
                </ul>
      
              </li>
              
                                
              <li>
                
                <a href="#">
                  <i class='bx bx-cog' ></i>
                  <span class="link_name">Configurações</span>
                </a>
                
                <ul class="sub-menu blank">
                  <li><a class="link_name" href="#">Configurações</a></li>
                </ul>
      
              </li>
      
              <li>
            
                <section class="profile-details">
                  
                  <section class="profile-content">
                    <!--<img src="image/profile.jpg" alt="profileImg">-->
                  </section>
                  
                  <section class="name-job">
                    
                    <section class="profile_name" ><%= nome_usuario %></section>
                    <section class="job">Administrador</section>
                  
                  </section>
                  
                  <i class="bx bx-log-out"></i>
                
                </section>
              
              </li>
      
            </ul><!--Fecha ul-->
      
          </section>
          <!--Fecha Sidebar-->
