    <!--INICIO DO MENU ADM -->

    <header class="topbar">
        <section class="topbar-content">
          <section class="img-logo">
            <img src="/imagens/logo.png" id="logo-1" onclick="location.href='/index'">
            <img src="/imagens/traço perfeito.png" id="logo-2" onclick="location.href='/index'">
          </section> 
          
          <section class="perfil-adm">
            <p>Traço Perfeito</p>
            <img src="/imagens/logo.png" alt="foto de perfil" class="foto-perfil">
          </section>
        </section>
      </header>    
    
    <!--FIM DO MENU ADM  -->
