.usuarios-section {
  width: 100%;
  margin-top: 15px;
  margin-left: -10px;
}

.tittle-usuarios-geral {
  margin-left: 101px;
  margin-bottom: 15px;
  color: #132d46;
}

strong {
  color: #76aea5;
}

.usuarios-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* espaço entre os cards */
  margin-left: 101px;
}

.usuario-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff; /* opcional */
  border-radius: 6px;
  height: 100px;
}

.usuario-foto img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.usuario-info {
  font-size: 13px;
}

.usuario-info p {
  margin: 2px 0;
}

.status.ativo {
  color: #fff;
  background-color: #4caf50;

  border-radius: 4px;

}

.status.inativo {
  background-color: #c3c3c3;
  color:rgb(72, 72, 72);

  border-radius: 4px;

}

.status.pendente {
     background: #fef9c3;
    color: #ca8a04;
  
  border-radius: 4px;

}

.usuario-acoes a {
  margin-right: 5px;
  text-decoration: none;
  font-size: 1.2em;
}

/* Opcional: responsividade para mobile */
@media (max-width: 600px) {
  .usuario-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .usuario-acoes {
    margin-top: 5px;
  }
}


table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #f5f7fa;
}

thead th {
  padding: 12px 15px;
  text-align: left;
  color: #333;
  font-weight: 600;
  border-bottom: 2px solid #e1e4e8;
}

tbody tr {
  transition: background-color 0.2s ease;
  cursor: default;
}

tbody tr:hover {
  background-color: #f0f4f8;
}

tbody td {
  padding: 12px 15px;
  color: #555;
  vertical-align: middle;
  border-bottom: 1px solid #e1e4e8;
}

tbody td img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.status.ativo {
  color: #28a745;
  font-weight: 600;
}

.status.inativo {
  color: #dc3545;
  font-weight: 600;
}





.status.ativo i {
  color: #4CAF50; /* verde */
}

.status.pendente i {
  color: #FFC107; /* amarelo */
}

.status.suspenso i {
  color: #F44336; /* vermelho */
}

.status.inativo i {
  color: #9E9E9E; /* cinza */
}


td a {
  text-decoration: none;
  font-size: 18px;
  margin: 0 5px;
  transition: color 0.2s ease;
  color: #555;
}

td a:hover {
  color: #007bff;
}


/* //////////////////////////////////////////////////////////////////////////////////////////// */

/* PAGINAÇÃO ESTILO */

/* Estilo para o botão "Novo" */
input[type="button"] {
  background-color: #2d3748;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

input[type="button"]:hover {
  background-color: #4a5568;
}
















.paginacao {
  display: flex;
  justify-content: center;

  user-select: none;
  width: 100%;        /* ocupa 100% do container pai */
    margin-left: 40px;

}


/* Lista de páginas */
.paginacao ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

/* Links das páginas */
.paginacao ul li a {
  display: inline-block;
  padding: 8px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover nos links */
.paginacao ul li a:hover {
  background-color: #2d3748;
  color: white;
  border-color: #2d3748;
}

/* Página atual */
.paginacao ul li a.atual {
  background-color: #2d3748;
  color: white;
  border-color: #2d3748;
  cursor: default;
  pointer-events: none;
}















/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

body {
  font-family: 'Inter', sans-serif;
  background: #f8fafc;
  margin: 0;
  padding: 0;
  color: #111827;
}

.topo_pagina_adm {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e5e7eb;
}

header h1 {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 600;
}

header button {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-family: 'Inter';
}

/* Resumo Cards */
section.resumo {
  display: flex;
  gap: 1rem;
  margin: 0.8rem 2rem;
}

.card {
  flex: 1;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  height: 130px;
}

.card-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content p {
  margin: 0;
  font-size: 0.9rem;
  color: #6b7280;
}

.card-content h2 {
  font-size: 1.5rem;
  margin: 0.2rem 0 0;
  font-weight: 600;
  text-align-last: center;
}

/* Ícones com fundo suave */
.azul { background: #dbeafe; color: #2563eb; }
.verde { background: #dcfce7; color: #16a34a; }
.amarelo { background: #fef9c3; color: #ca8a04; }
.vermelho { background: #fee2e2; color: #dc2626; }

/* Lista */
section.lista {
  background: #fff;
  margin: 0 2rem 5px 2rem;
  padding: 1rem 1rem 10px 1rem;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}



section.lista h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 15px;
}

table {
  width: 100%;
  /* border-collapse: collapse;
  margin-top: 1rem; */
}

th, td {
  padding: 0.9rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
  font-size: 0.9rem;
}

th {
  background: #f9fafb;
  color: #374151;
}

td.status p {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 600;
}

.ativo { background: #dcfce7; color: #16a34a; }
.suspenso { background: #fef9c3; color: #ca8a04; }
.inativo { background: #fee2e2; color: #dc2626; }

/* Botões de ações */
td.acoes {
  display: flex;
  gap: 0.4rem;
}

/* Hover bonito */
.btn-acao:hover {
  opacity: 0.85;
  transform: scale(1.05);
  transition: 0.2s;
}

  /* deixa os textos da tabela em cinza */
section.lista table tbody td {
    color: #4b5563; /* cinza médio */
}
.user-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.lista-header{
  display: grid;
      grid-template-columns: 2.5fr 1fr 1fr 1.5fr 1.2fr;
      padding: 0.75rem 1rem;
}

.ver-detalhes{
     background: #dbeafe;
    color: #2563eb;
}

.lista-usuarios {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.usuario {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1.5fr 1.2fr;
  align-items: center;
  padding: 0.75rem 1rem;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  color: #4b5563;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}


.status {
  font-weight: 600;
 padding: 2px 6px;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.8rem;
  width: fit-content;
  min-width: 100px;
  justify-content: center;
}

.status.ativo {
  background: #dcfce7;
  color: #16a34a;
}

.status.suspenso {
    background: #fee2e2;
  color: #dc2626;

}

.status.inativo {
  background: #bdbdbd;
  color: #414141;
}

.acoes {
  display: flex;
  gap: 3.4rem;
}

.btn-acao {
  width: 34px;
  height: 34px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.editar { background: #e0e7ff; color: #1e3a8a; }
.ativar { background: #dcfce7; color: #166534; }
.suspender { background: #fef9c3; color: #92400e; }
.deletar { background: #fee2e2; color: #991b1b; }

/* ///////////////////////////////////////////////////////////////////////////////// */

/* ESTILO DO MODAL INATIVAR CONTA

/* Overlay (fundo escuro) */
.overlay {
position: fixed;
inset: 0;
background: rgba(0, 0, 0, 0.5);
display: none;
justify-content: center;
align-items: center;
z-index: 1000;
}

/* Caixa do modal */
.modal {
background: #fff;
border-radius: 8px;
width: 420px;
max-width: 90%;
box-shadow: 0 6px 24px rgba(0,0,0,0.2);
overflow: hidden;
animation: aparecer 0.3s ease;
font-family: 'Inter', sans-serif;
}

@keyframes aparecer {
from { transform: translateY(-20px); opacity: 0; }
to { transform: translateY(0); opacity: 1; }
}

/* Cabeçalho */
.modal-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px;
border-bottom: 1px solid #eee;
}

.modal-header h3 {
margin: 0;
font-size: 18px;
font-weight: 600;
}

.close-modal {
background: none;
border: none;
font-size: 22px;
cursor: pointer;
color: #888;
}

/* Corpo */
.modal-body {
padding: 16px;
}

.alerta {
display: flex;
align-items: flex-start;
gap: 12px;
margin-bottom: 16px;
}

.alerta-icone {
width: 50px;
height: 40px;
border-radius: 50%;
background: #fee2e2;
color: #dc2626;
display: flex;
justify-content: center;
align-items: center;
margin-top: 15px;
}

.alerta i {
width: 18px;
height: 18px;
}

.modal-body .detalhe {
color: #666;
font-size: 14px;
margin-top: 4px;
}

.modal-body h4 {
font-size: 15px;
margin: 12px 0 10px;
font-weight: 600;
margin-left: 15px;
}

.modal-body ul {
margin: 0;
padding-left: 35px;
font-size: 14px;
color: #666666;
margin-bottom: 15px;
}

/* Rodapé */
.modal-footer {
display: flex;
justify-content: flex-end;
gap: 12px;
padding: 15px 16px;
border-top: 1px solid #eee;
}

.btn-cancelar {
background: #f1f1f1;
border: none;
padding: 8px 14px;
border-radius: 6px;
cursor: pointer;
font-family: 'Inter';
opacity: 0.6;
transition: 0.3s;
}

.btn-cancelar:hover {
opacity: 1;
}

.btn-confirmar {
background: #dc2626;
color: #fff;
border: none;
padding: 8px 14px;
border-radius: 6px;
cursor: pointer;
display: flex;
align-items: center;
gap: 6px;
font-weight: 500;
font-family: 'Inter';
}

.topo_pagina_adm,
section.resumo,
section.lista {
  margin-left: 90px; /* ou a largura do seu menu lateral */
}



.novo-user_adm {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background: #fff;
  color: #28495c;
  font-weight: 600;
  font-size: 15px;
  border: 2px solid #28495c;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.novo-user_adm:hover {
  background: #28495c;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px #1c323f;
}

.novo-user_adm:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px 1c323f;
}

.novo-user_adm i {
  font-size: 18px;
}

.topo_pagina_adm h1 {
  font-size: x-large;
} 

.topo_pagina_adm {
 width: 50% !important;
  padding-top: 60px; /* empurra o conteúdo pra baixo do topo fixo */
  
}

.topo_pagina_adm h1 {
  font-size: 26px;
  font-weight: 600;
  color: #333;
}
