<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso negado</title>
    <link rel="stylesheet" href="/css/acesso-negado.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

</head>
<body>
  
    
        <section class="container-topo">
            <section class="imgs">
                <img src="Logo do Traço Perfeito.png" width="50px" alt="">
                <img src="tp.png" width="200px" alt="">
                <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="thtps://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            </section>
           </section>
    

<section class="container">
        <img src="nao-faca-sinal-de-alerta-vermelho-em-um-fundo-branco_476612-4727.jpg" alt="logo" class="logo" width="300px">
        <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="thtps://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <h1>Acesso Negado</h1>
        <p>Desculpe, você não tem acesso esta página.</p>
        <a href="acesso_negado.html" class="btn-voltar">Voltar para o início</a>
           
          
     </section>

  
</body>
</html>