<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso negado</title>
    <link rel="stylesheet" href="/css/acesso-negado.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
  
    
        <section class="container-topo">
            <section class="imgs">
                <img src="/imagens/logo.png" width="50px" alt="Logotipo Traço Perfeito">
                <img src="/imagens/tracoperfeitoazul.png" width="200px" alt="Logotipo escrita Traço Perfeito">
            
           </section>
           </section>
    

<section class="container">
       <ion-icon name="lock-closed" style="font-size: 80px"></ion-icon>
        <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="thtps://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <h1>Acesso Negado</h1>
        <p>Desculpe, você não tem acesso a esta página. </p>
        <a href="/" class="btn-voltar">Voltar para o início</a>
           
          
     </section>

  
</body>
</html>